  <div id="main-nav" class="main-menu narrow-menu">
    <a href="/" id="logo" class="logo"></a>
      <ul>
        <li>
          <a>
            <i class="icon-idea sweet-blue"></i>
            <span class="standard-menu-item active nav-routine">Add <strong class="nav-text--block">Routines</strong></span>
          </a>
        </li>
        <li>
          <a>
            <i class="icon-setting sweet-blue"></i>
            <span class="standard-menu-item active nav-routine">Summary <strong class="nav-text--block">Routines</strong></span>
          </a>
        </li>
      </ul>
    
    <div class="nav-user">
			<a><span class="nav-text">
				<div class="media simple user">  
					<div class="media-image">   
						<div class="media-placeholder">
							<span class="icon"></span>  
						</div> 
						<div class="media-image-internal" 
								 style="background-image: url(../morfn/assets/img/global/avatars/a-k.jpg);"></div> 
					</div>
				</div>
				<div class="name">Karen</div></span>
			</a>
		</div>
  </div>