  <section class="modal channel">
    <header><h2>CHOOSE A SOCIAL NETWORK:<span>SOCIAL NETWORK  AS  CHANNEL For your routine</span></h2></header>
    <a class="close-modal" ng-click='hideModal()'>&times;</a>
    <div class="blocks">
      <div class="blocks- blocks-4 baby-blue">
        <div class="block-header">
          <i class="icon-facebook facebook"></i>
          <h2>FACEBOOK</h2>
          <input name="radio1" type="checkbox" />
        </div>
        <div class="block-content">
          <a ng-click='setBoostChannel("facebook")' class="ok facebook">save</a>
        </div>
      </div>
      <div class="blocks- blocks-4 baby-blue">
        <div class="block-header">
          <i class="icon-twitter twitter"></i>
          <h2>TWITTER</h2>
          <input name="radio1" type="checkbox" />
        </div>
        <div class="block-content">
          <a ng-click='setBoostChannel("twitter")' class="ok twitter">ok</a>
        </div>
      </div>
      <div class="blocks- blocks-4 baby-blue">
        <div class="block-header">
          <i class="icon-soundcloud soundcloud"></i>
          <h2>SOUNDCLOUD</h2>
          <input name="radio1" type="checkbox" />
        </div>
        <div class="block-content">
          <a ng-click='setBoostChannel("soundcloud")' class="ok soundcloud">ok</a>
        </div>
      </div>
    </div>  
  </secti